<div style="display: flex; justify-content: center; align-content: center; align-items: center; background-color: rgba(46, 46, 46, 0.884); background-size: cover; height: 100%;" >
  <mat-card style="width: 500px; height: 400px;">
      <mat-card-header style="justify-content: center; margin-bottom: 10px; text-align: center;">
        <mat-card-title>Bienvenido</mat-card-title>
        <mat-card-subtitle>Inicie sesion para continuar</mat-card-subtitle>
      </mat-card-header>

      <form class="example-form">
        <div style="justify-content: center; display: flex;">
          <mat-form-field class="example-full-width" style="width: 250px;">
            <mat-label>Usuario</mat-label>
            <input matInput [(ngModel)]="username" name="username">

          </mat-form-field>
        </div>
        <div style="justify-content: center; display: flex;">
          <mat-form-field class="example-full-width" style="width: 250px;">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
        </div>
      </form>


      <mat-card-actions style="justify-content: center;">
          <button (click)="login()" mat-button>Iniciar sesión</button>
      </mat-card-actions>
      <mat-card-footer >
          <div style="display: flex; justify-content: center;">
          <p>¿No tienes una cuenta?&ensp; <a routerLink = "/registro" routerLinkActive="active">Registrate aqui</a></p>
          </div>
      </mat-card-footer>
  </mat-card>
  </div>
